<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title> Quirohelp </title>
	

</head>
<body>
	<div class="login22">
		<h2 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size: 2.5rem;background-color: purple;">AJUSTES:</h2>
			
			<form action="{{url_for('buscador_trauma')}}" method="post">
			<h3 onclick="location.href='https://quirohelp.onrender.com/especialidad'"style="font-size=1.6rem"> <img src="{{ user_image7 }}" alt="" width="5%">Cambiar de especialidad</h3>	

			</form>

		
			<br>
			<br>	
		
	</div>
</body>
</html>
